*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#tabuleiro{
  background-color: rgba(0, 0, 0, 0);
  max-width: 700px;
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr 1fr ;
  gap: 20px;
  position: relative;
}

.cardsFront, .cardsBack  {
 background-color: rgb(11, 3, 82);
 color: white; 
 width: 130px;
 height: 130px;
 position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 10px;
 box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.356);
}

.cardsFront{
transform: rotateY(180deg);

}

.cardsBack{

}

.flip {
  transform: rotateY(180deg);
}